<h4>{{ title}}</h4>

{{ attach_library('movie_reservation_controller/form-styling') }}


<div class="popup" id="popup">
    <h1 class="popup_title">Select date for movie</h1>

    <div id="popup_response_message"></div>
     <input type="text" id="customer_name" name="customer_name" placeholder="Please enter your name"><br>
    

    <button type="button" class="cancel_btn" id="cancel">Cancel</button>
    <button type="button" class="submit_btn" id="submit_popup">Submit</button>

</div>

<form>
  <label for="movie_type">Please select a movie genre for which you would like to make a reservation:</label>
      <select id="movie_type">

            {%  for item in items %}
                <option value="{{ item.id }}">{{ drupal_entity('taxonomy_term', item.id) }}</option>
            {% endfor %}
    
        </select>
        
<button type="button" id="submit">Choose movie type</button>


</form>

<div class="movies_for_type">

  <h1>We have found thease movies for the specified type</h1>

  <form id="movie_form">


  </form>

  <button type="button" id="reserve">Reserve movie</button>

</div>

{{ attach_library('movie_reservation_controller/article-list') }}
