<h1>{{title}}</h1>

<label for="orders">Choose a value to order by:</label>

<select name="orders" id="orders">
  <option value="reserved_movie_name|ASC">A-Z</option>
  <option value="reserved_movie_name|DESC">Z-A</option>
  <option value="id|DESC">From newest to odlest</option>
  <option value="id|ASC">From oldest to newest</option>
</select>

<button type="button"  id="submit">Filter</button>

<br>

<div id="movie_reservations">
    {%  for item in items %}
        <h1  id="reservation_title">{{item.reserved_movie_name}} reservation</h1>
        <h4 id="reservation_customer_name">Reserved by: {{item.customer_name}}</h4>
        <p id="reservation_day_and_time">Reserfed for: {{item.day_of_reservation}}, and reservation was made on: {{item.time_of_reservation}}</p>
    {% endfor %}
</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>


<script>

    $( "#submit" ).click(function(e) {

        $("#movie_reservations").text('');

        $.ajax({
            method:'GET',
            url:'/get-reservations-data/'+$("#orders").val().split("|")[0]+'/'+$("#orders").val().split("|")[1],
            success:function(response)
                {

                response["data"].forEach(response => {


                    $("#movie_reservations")
                    .append(
                        $(document.createElement('h1'))
                        .prop({id: 'reservation_title'})
                        .html(response.reserved_movie_name + ' reservation')
                    )
                    .append(
                        $(document.createElement('h4'))
                        .prop({id: 'reservation_customer_name'})
                        .html('Reserved by: ' + response.customer_name)
                    )
                    .append(
                        $(document.createElement('p'))
                        .prop({id: 'reservation_day_and_time'})
                        .html('Reserfed for: ' + response.day_of_reservation + ', and reservation was made on: ' + response.time_of_reservation)
                    )

                });

            }

        }); 

    });


</script>